services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: atlas
    ports:
      - "5432:5432"
    volumes:
      - atlas_db_data:/var/lib/postgresql/data

  web:
    build: .
    ports:
      - "8000:8000"

    env_file:
      - .env
    depends_on:
      - db

volumes:
  atlas_db_data: